.title-container {
  display: none;
}

.widget-header {
  background-color: var(--theme-color);
}

.widget-body {
  background-image: none;
  background-color: transparent;
}

.discord-widget .widget-member-avatar img {
  border-color: var(--theme-color);
  background-color: var(--theme-color);
}

.discord-widget .widget-member .widget-member-name {
  background-color: var(--theme-color);
}