@import "../mixins";

/**
 * Accompanying CSS for portable infoboxes.
 * FANDOM Developers entry: https://dev.fandom.com/wiki/Portable_infoboxes
 */

// Major overhaul needed. Most of these selectors are ridiculous, and some of the units of measure
// aren't accessibility-friendly. Very brittle styles with no modularity. Etc.
 
.portable-infobox {
  @include module-style();
  overflow: hidden;

  .pi-item,
  .pi-item-spacing {
    padding: 0;
  }

  .pi-title {
    background-color: var(--theme-color);
    color: var(--text-color);
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    line-height: 20px;
    padding: 9px 3px;
  }

  .pi-caption {
    padding: 3px 0;
    line-height: 18px;
    text-align: center;
    background-color: var(--module-bg);
    border-bottom: 1px solid var(--medium-gray);
  }

  .pi-header {
    text-align: center;
    background-color: var(--theme-color);
    color: var(--text-color);
    padding: 5px 0 !important;
  }

  .pi-image img {
    border-bottom: 1px solid var(--medium-gray);
  }

  .pi-data-label {
    background-color: var(--module-bg-secondary);
    padding: 8px;
    border-right: 1px solid var(--medium-gray);
    font-weight: bold;
  }

  .pi-data-value {
    padding: 8px;
  }

  .pi-border-color {
    border: 0 !important;
  }

  .pi-horizontal-group {
    border-collapse: collapse;
  }

  th.pi-horizontal-group-item.pi {
    &-border-color {
      border-color: var(--medium-gray);
    }

    &-data-label {
      border-right: none;
    }
  }
}

.pi-theme-smallhorizontalcells {
  .pi-horizontal-group-item.pi-data-value.pi-font.pi-border-color.pi-item-spacing:first-child {
    text-align: left;
  }

  .pi-item.pi-group {
    .pi-horizontal-group tr > td:first-child {
      width: 120px;
    }

    &.pi-border-color .pi-horizontal-group thead > tr:first-child > th:first-child {
      width: 108px;
    }
  }
}

.pi-image-collection-tab-content {
  background: transparent;
}

ul.pi-image-collection-tabs {
  display: flex;
  flex-wrap: wrap;
  line-height: 2.4;
  width: calc(100% + 3px);
  margin-left: -1px;

  li {
    flex-grow: 1;
    border: 1px solid var(--medium-gray);
    border-top: none;
    width: calc((100% / 4) + 1px);

    &.current {
      background: none;
      background-color: var(--theme-color);
      color: var(--text-color);
    }
  }
}

[class^="max"] ul.pi-image-collection-tabs li {
  flex-grow: 0;
}

// To-do: convert these to Sass loops

.max-2 ul.pi-image-collection-tabs li {
  width: calc((100% / 2) + 1px); // extra pixel is to account for the right border
}

.max-3 ul.pi-image-collection-tabs li {
  width: calc((100% / 3) + 1px);
}

.max-4 ul.pi-image-collection-tabs li {
  width: calc((100% / 4) + 1px);
}

.max-5 ul.pi-image-collection-tabs li {
  width: calc((100% / 5) + 1px);
}

.max-6 ul.pi-image-collection-tabs li {
  width: calc((100% / 6) + 1px);
}

.max-all ul.pi-image-collection-tabs li {
  flex-grow: 1;
}

.portable-infobox .pi-section-tab:only-child {
  display: none;
}

.pi-section-label {
  text-transform: unset !important;
}

.portable-infobox .pi-section-navigation {
  display: flex;
  background-color: var(--module-bg);
  border-top: 1px solid var(--medium-gray);
  padding: 7px 0;
  text-align: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}