/*
 * This is an example featuring all customization variables set to default values.
 * Copy and paste this to your wiki's Special:CSS and change values as needed.
 * If you do not need to change the values, it is safe to remove the declaration
 * altogether.
 *
 * See https://github.com/newwikiorder/fandom-modules/tree/master/src/blocks for
 * documentation and more information.
 */

/* Import Blocks library. */
@import url("https://cdn.jsdelivr.net/gh/newwikiorder/fandom-modules@latest/dist/blocks/blocks.min.css");

/* Customize variables. */
:root {
  /* --- Container --- */
  --block-spacing-after: 1rem;
  --block-interior-spacing: 0;
  
  --block-horizontal-alignment: flex-start;
  --block-vertical-alignment: flex-start;

  --block-background-color: var(--themed-page-background--windows);
  --block-background-image: url();
  --block-background-size: cover;
  --block-background-position: center;
  --block-border: 1px solid transparent;

  --block-font-family: Rubik, sans-serif;

  /* --- Header (text container) --- */
  --block-header-spacing-after: 1rem;
  --block-header-interior-spacing: 1rem;

  --block-header-horizontal-alignment: center;
  --block-header-vertical-alignment: center;

  --block-header-background-color: var(--themed-page-background--secondary);
  --block-header-background-image: url();
  --block-header-background-size: cover;
  --block-header-background-position: center;
  --block-header-border: 1px solid transparent;

  /* --- Heading (text itself) --- */
  --block-heading-font-family: inherit;
  --block-heading-font-size: 1rem;
  --block-heading-font-weight: bold;
  --block-heading-text-color: var(--themed-text-color);
  --block-heading-text-transform: none;
}

#Block-Example {
  /* This would only apply to a block with a heading of "Example". Any variable
   * can be overridden like this, including for children of this element. */
  --block-background-image: url('https://example.com/');
}